* {
    scroll-padding: 80px;
}

body {
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.proj-button {
    color: #f5564b;
}

.proj-button:hover {
    color: #f1766d !important;
    font-size: 28px;
    transition-duration: .2s;
}

footer {
    height: auto;
    background-color: #f1766d;
}

.pfp {
    border-radius: 40px;
}

@media screen and (min-width:320px) {
    .pfp {
        max-height: 250px;
    }

    #intro {
        text-align: center;
    }

    .proj-name {
        font-size: 15px;
    }

    
}

@media screen and (min-width:576px) {
    .pfp {
        max-height: 350px;
    }

    .proj-name {
        font-size: 25px;
    }
}

@media screen and (max-width:767px) {
    .line-clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .app-view-btn {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .pfp {
        max-height: 350px;
    }
    
    .proj-name {
        font-size: 35px;
    }

    #f-dev-view-more{
        display: none;
    }

    #b-dev-view-more{
        display: none;
    }
}

@media screen and (min-width:992px) {
    .proj-name {
        font-size: 45px;
    }
}