* {
    scroll-padding: 80px;
}

body {
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.proj-button:hover {
    color: #f1766d !important;
    font-size: 28px;
    transition-duration: .2s;
}

footer {
    height: 50px;
    background-color: #f1766d;
}

@media screen and (min-width:320px) {
    .pfp {
        max-height: 180px;
    }

    #intro {
        text-align: center;
    }
}

@media screen and (min-width:576px) {
    .pfp {
        max-height: 250px;
    }

    /* #f-dev{
        max-height: 300px;
    } */
}

@media screen and (min-width:768px) {
    
}