* {
    scroll-padding: 80px;
}

body {
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.proj-button:hover {
    color: #f1766d !important;
    font-size: 28px;
    transition-duration: .2s;
}